
.posts-page {
  background-color: #4a4646;
  min-height: 100vh;
}

h2 {
  color: #FF5722;
  font-size: 2rem;
  margin-bottom: 20px;
}

p.text-light {
  color: #E0E0E0;
}

.search-bar input {
  border: 2px solid #4CAF50;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  background-color: #bcb7b7;
  color: #090808;
}

/* Table */
.table-custom {
  background-color: #1F1F1F;
  border: 1px solid #4CAF50;
  border-radius: 10px;
}

.table-custom thead {
  background-color: #4CAF50;
  color: white;
}

.table-custom th,
.table-custom td {
  text-align: center;
  padding: 10px;
  background-color: #dfdada;
}

.text-muted {
  color: #FF5722;
}
