.hero-section {
  background-color: #4A4646;
  padding: 50px 0;
}

.hero-section h1 {
  color: #FF5722;
}

.hero-section p {
  color: #E0E0E0;
}

.hero-section .btn-primary {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.features-section {
  background-color: #FFCF9D;
  padding: 50px 0;
}

.features-section h2 {
  color: #DE8F5F;
}

.features-section h4 {
  color: #FFB26F;
}

.features-section p {
  color: #DE8F5F;
}

.features-section img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #FFB26F;
  padding: 10px;
  border-radius: 10px;
}


